/*=================================\
|====        CLASS BOARD       ====|
\=================================*/
.class__board {

    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px !important;
    box-sizing: border-box;
}

.class__board_inner {

    flex: 1 0 auto;
    box-shadow: 0 6px 17px 0 rgba(0, 0, 0, .1);
    width: 500px !important;
    padding-top: 1px;
}

.class__board_logo {

    height: 32px;
    margin: 49px 0 35px 0;
    text-align: center;
}

.class__board_title {

    display: inline-block;
    overflow: hidden;
    text-align: left;
    font-family: 'Hind Vadodara';
    font-weight: bolder;
    font-size: 38px;

    color: #00b84f;
}

.class__board_notice {

    font-size: 14px;
    color: #a8536c;
    height: 20px;
    margin-top: 45px;
    text-align: center;
}



.class__board_block {

    padding: 0 62px;
}



.class__form_textField {

    position: relative;
    box-sizing: border-box;
    height: 52px;
    margin-bottom: 24px;
}

.class__form_textField>input {

    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 24px;
    line-height: 16px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: rgb(104, 104, 104);
    font-size: 16px !important;
}

.form__textField_label {

    display: none;
    color: #dee5ec;
    font-size: 12px;
}

.class__form_textField.selected .form__textField_label {

    display: block;
}

.class__form_textField::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #dee5ec;
}

.class__form_btn {

    display: flex;
    margin-top: 35px;
}

.class__form_btn .btn {

    font-weight: 700;
    height: 50px;
    font-size: 16px;
    margin: 0 10px;
}

.submit__btn {
    
    background-color: #00b900;
    color: #fff !important;
}

.cancel__btn {

    background-color: #a9b2c2;
}

.cancel__btn a {

    color: #fff !important;
    display: block;
    width: 100%;
}

.class__board_text {

    display: flex;
    flex-direction: column;
    margin: 24px 62px 50px;
    text-align: center;
}

.class__board_text a:link,
.class__board_text a:visited {

    color: #469fd6;
}

.board__text_link {

    font-size: 12px;
    line-height: 13px;
    background-color: transparent;
    margin-bottom: 0;
}

.board__text_link:hover {

    text-decoration: underline;
}

/*=================================\
|====         CLASS EDIT       ====|
\=================================*/
.class__edit {

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.67);
    z-index: 2;
}

.class__edit .class__board {

    z-index: 10;
    background: #ffffff;
}

.class__edit .class__board_logo {

    margin: 49px 0 20px 0;
}

.class__edit .class__board_notice {

    margin-top: 25px;
}

.class__edit .class__board_block {

    margin: 5px 0 50px;
}

.class__edit .form__textField_label {

    display: inline-block;
    width: 60px;
    line-height: 2.2;
    color: #8c8f92;
    font-size: 16px;
}

.class__edit .class__form_textField>input {
    font-size: 18px!important;
}

/*=================================\
|====        CLASS TABLE       ====|
\=================================*/

.class__paper {

    position: relative;
    width: 100%;
    overflow-x: auto;

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(247, 247, 247);
}

.class__table {

    min-width: 650px;

    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

}

.class__table_head {

    background-color: rgba(0, 0, 0, 0.87);
}

.class__table_row {

    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.class__table_row--body:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.class__table_cell {

    display: table-cell;
    padding: 16px;
    font-size: 0.9rem;
    text-align: left;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.table__cell_button {

    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: inherit;
    justify-content: flex-start;
}

.table__cell_button input {

    opacity: 0;
    position: absolute;
}

.class__table_cell--head {

    color: rgba(255, 255, 255, 0.87);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.class__table_cell--head a {

    color: inherit;
}

.class__table_cell--body {

    color: rgba(0, 0, 0, 0.87);
}

.table__cell--icon {

    width: 40px;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.table__cell--icon a {

    padding: 6px;
    border-radius: 50px;
}

.table__cell--icon a:hover {

    background-color: rgba(0, 0, 0, 0.17);
}

.table__cell--icon a:active {

    background-color: rgba(0, 0, 0, 0.37);
}

.table__cell--icon i {

    cursor: pointer;
}

