/*=================================\
|====            PAGE          ====|
\=================================*/

.page__sticker {
    background: #fdfdfd;
}

.page__login {
    font-family: font-face-apple-system,BlinkMacSystemFont,Hiragino Sans,Hiragino Kaku Gothic ProN,Helvetica Neue,Helvetica,sans-serif;
}

.page__login .container {

    min-height: 100%;
    box-sizing: border-box;
    flex: 1 0 auto;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
}

.page__userTable {
    background: #fdfdfd;
}

.page__userTable .content {

    padding: 18px;
    min-width: 1264px;
}

/*=================================\
|====          CONTENT         ====|
\=================================*/

.content {

    min-width: 1300px;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

/*=================================\
|====           MAIN           ====|
\=================================*/

.main {

    overflow: hidden;
    padding-left: 1px;
    box-sizing: border-box;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #d6d6d6;
}

.main__section {

    display: flex;
    overflow: hidden;
    width: 1043px;
    min-height: 780px;
}

.main__section--sticker-view {

    position: relative;
}

.main__section--sticker-view::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #efefef;
}

/*=================================\
|====          SECTION         ====|
\=================================*/

.section__endTop {

    display: flex;
    width: 699px;
    margin: 40px 72px 30px 60px;
}

.endTop__graphic {

    width: 230px;
    height: 230px;
    margin-right: 45px;
    position: relative;
}

.endTop__graphic::after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.endTop__graphic_img {

    object-fit: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.endTop__block {

    width: 424px;
}

.endTop__block_head {

    padding-top: 19px;
}

.endTop__block_new {

    margin: -19px 0 9px 0;

    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
    width: 30px;
    height: 10px;
    background-image: url(../img/MdCMN/ico_new_30x10.png);
    background-size: 30px auto;
}

.endTop__block_title {

    margin: 0 0 10px 0;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word;
}

.endTop__block_author {

    font-family: 'Hiragino Kaku Gothic ProN',arial,sans-serif;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    text-decoration: underline;
}

.endTop__block_text {

    margin: 10px 0 7px 0;
    color: #737373;
    font-size: 14px;
    line-height: 18px;
}

.endTop__block_info {

    position: relative;
    display: flex;
    justify-content: space-between;
}

.endTop__info_price {

    font-family: 'Hiragino Kaku Gothic ProN',arial,sans-serif;
    margin-right: 10px;
    color: #00b84f;
    font-size: 32px;
    line-height: 39px;
    flex: none;
}

.info__wish {

    display: flex;
    width: 37px;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    align-items: center;
}

.info__wish .icon-wish {

    line-height: 1.6;
    color: #adadad;
}

.info__wish input[type="checkbox"] {

    display: none;
}

.info__wish input[type="checkbox"] + span {

    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: center;
    width: 37px;
    height: 37px;
    background-color: #f0f0f0;
    background-size: 37px auto;
    background-position: center center;
    border-radius: 50px;
}

.endTop__block_button {

    display: flex;
    margin-top: 10px;
}

.endTop__block_button li {

    width: 50%;
}

.endTop__block_button li:last-child {

    margin: 0 0 0 4px;
}

.endTop__block_button button {

    display: flex;
    justify-content: center;
    align-items: center;

    appearance: none;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 0 20px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none;
}

.button--gift {

    background-color: #454545;
}

.button--purchase {

    background-color: #00b84f;
}

.section__line {

    display: block;
    height: 0;
    border: none;
    border-top: 1px solid #f2f2f2;
    margin: 0;
}

.section__detailView  {

    overflow: hidden;
}

.section__detailView_preview {

    display: flex;
    justify-content: center;

    margin: 16px 0 0 70px;
    padding: 17px 20px 16px;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    background-color: #fafafa;
    width: 690px;
}

.detailView__preview_text {

    color: #949494;
}

.section__detailView_imgList {

    margin: 30px 70px 0 70px;
    position: relative;
}

.MdLoader {

    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    position: absolute;
}

.detailView__imgList_warp {

    position: relative;
}

.sticker {

    width: 690px;
}

.sticker::after {

    content: "";
    display: block;
    clear: both;
}

.sticker__li {

    width: 150px;
    margin: 0 30px 30px 0;
    text-align: center;
    float: left;
    position: relative;
}

.sticker__li:nth-of-type(4n) {

    margin-right: 0;
}

.sticker__li_inner {

    width: 150px;
    height: 140px;

    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.sticker__image {

    background-size: contain;
    width: 150px;
    height: 140px;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.sticker__imgPreview {

    z-index: 10;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 200px;
    height: 200px;
}

.sticker__imgPreview > span {

    pointer-events: none;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.sticker__imgPreview .sticker__image {
    
    width: inherit;
    height: inherit;
}

.nonDisp {
    display: none!important;
}

.section__detailView_copy {

    width: 560px;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    color: #adadad;
    word-break: break-all;
}

.section__detailView_text {

    margin: 15px auto 0;
    font-size: 10px;
    line-height: 12px;
    color: rgba(105, 111, 122, 0.8);
    text-align: center;
}

.section__detailView_share {

    text-align: center;
    margin: 40px 0 50px 0;
    height: 40px;
}

.detailView__shareList {

}

.detailView__shareList_item {
    display: inline-block;
    margin: 0 12px;
}

.shareList_item--line {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon/line.png);
    background-size: 40px auto;
}

.shareList_item--tw {

    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon/twitter.png);
    background-size: 40px auto;
}

.shareList_item--fb {

    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon/facebook.png);
    background-size: 40px auto;
}

.main__section--other {

    width: 168px;
    margin: 31px 0 0 25px;
}

.section__head {

    margin: 0 0 18px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.section__head_title {

    font-family: 'Hiragino Kaku Gothic ProN',arial,sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.section__block {

    width: 187px;
}

.section__noteList {

    width: 187px;
}

.section__noteList_item a {

    color: #666;
}

.noteList__item {

    margin-bottom: 20px;
    display: flex;
}

.noteList__item_img {

    position: relative;
    width: 76px;
}

.noteList__item_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.noteList__item_text {

    height: 60px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noteList__item_title {

    width: 92px;
    font-weight: bold;
    color: #666;
    font-size: 13px;
    line-height: 1.2;
    max-height: 30.2px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.noteList__item_detailList {

    height: auto;
}

.noteList__item_detail {

    margin-top: 10px;
}

.noteList__item_detail span{

    display: inline-block;
    margin-left: 8px;
    font-size: 12px;
    word-break: break-all;
    width: 75%;
}

.main__section--other {

    overflow: hidden;
}



